# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\University\College\Grade 3\Spring 2022\Advanced Operating System\Assignments\01\Banker-s-Algorithm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
